img {
    max-width: 100%;
    height: auto;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Button color */
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3; /* Button color on hover */
  }
  
  /* Styling specific links as buttons */
  .home-button {
    margin-right: 10px;
  }
  
  .menu-button {
    margin-right: 10px;
  }
  
  .contact-button {
    margin-right: 10px;
  }  
  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px; /* Add spacing between buttons */
  }
  .logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
    margin-right: 10px; /* Add spacing between the logo and heading */
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-bottom: 20px; /* Add spacing between header and navigation */
  }
  
  .logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  .about-section {
    text-align: center;
  }
  .get-section {
    text-align: center;
  }
  
  body {
    font-family: 'Indie Flower', cursive;
  } 